# Ignore the Virtual Environment
.venv/
.vscode/

# Ignore Mac Files
*.DS_Store

# Ignore API KEY
data/SIGTECH_API_KEY.json

# Ignore file that should be deleted
daily_market_update/

# Ignore pycache files
__pycache__
